    /* Root */
    :root {
        --plowman-main: #f05f40;
        --main-bg: #ffffff;
      }


    /* Styling for the map to work DONT REMOVE*/
    body {
        background-color: var(--main-bg);
    }
    #map_v1 {
        position: relative;
        border-radius: 8px;
        height: 600px;  
        width: 100%;  
        }


    #map {
        position: fixed;
        top: 56px;
        left: 0;
        width: 100%;
        height: calc(100% - 56px);
    }
    
    .map-buttons { 
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto !important;
        display: flex;
        gap:10px;
    }

    .map-form {
        position: absolute;
        top: 70px;
        right: 0;
        max-width: 300px;
    }

