    /* Styling for the map to work DONT REMOVE*/
    #map_v1 {
        position: relative;
        border-radius: 8px;
        height: 600px;  
        width: 100%;  
        }


    #map {
        position: fixed;
        top: 56px;
        left: 0;
        width: 100%;
        height: calc(100% - 56px);
    }
    
    .map-buttons { 
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto !important;
        display: flex;
        gap:10px;
    }

    .map-form {
        position: absolute;
        top: 70px;
        right: 0;
        max-width: 300px;
    }

  /* Responsive styles */
  @media (max-width: 767px) {
    .fc-toolbar.fc-header-toolbar {
      display: flex;
      flex-direction: column;
    }
    .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk {
      margin-bottom: 3px; /* Adjust gap between buttons */
    }
    .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(1) {
      order: 3;
    }
    .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
      order: 1;
    }
    .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
      order: 2;
    }
  }