{% extends 'base.html' %}

{% block content %}
  <!-- Info cards -->
  <div class="container-sm text-center">
    <div class="row">  
      <div class="col-md-6">
        <div class="card mt-5 ">
          <div class="card-body">
            <h5 class="card-title">Bestill snøbrøyting</h5>
            <p class="card-text">Velg dato for måking.</p>
            <a href="{{ url_for('cabin.cabin') }}" class="btn btn-outline-primary">Bestill her</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h5 class="card-title">Mine bestillinger</h5>
            <p class="card-text">Se aktive og ferdige ordre.</p>
            <a href="{{ url_for('orders.orders') }}" class="btn btn-outline-primary">Se her</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
