<div class="jumbotron jumbotron-fluid position-fixed fixed-bottom">
    <div class="container-fluid">
      <div class="input-group mb-3">
      
        <div class="input-group-prepend">
          <span class="input-group-text">Message: </span>
        </div>
        
        <textarea class="form-control" aria-label="With textarea"></textarea>
        
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Send</button>
        </div>
        
      </div>
    </div>
  </div>