{% extends 'base.html' %}

{% block content %}

{% for type, message in get_flashed_messages(with_categories=true) %}
<div class="alert {% if type == 'success' %}alert-success{% elif type == 'danger' %}alert-danger{% elif type == 'warning' %}alert-warning{% endif %} alert-dismissible fade show mt-5" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

  <h1 class="text-center mt-5">Oversikt over Hytter:</h1>
  <p><span class="text-success">Grønt </span>ikon betyr ferdig brøytet. <span class="text-primary">Blått </span>ikon betyr bestilt brøyting. <span class="text-secondary">Grått </span>ikon betyr inaktiv hytte</p>



  <!-- Map Container -->
  <div class="container border-5 border-black mb-5">

    <div class="container">
      <div class="col-md-8 offset-md-2">
        <div id="map"></div>
      </div>
    </div>
  </div>

<script>

  function getIconUrl(nummer) {
      var nummerInt = parseInt(nummer);
      if (nummerInt % 2 === 0) {
          return 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png'; // Green icon for even postnummer
      } else {
          return 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-icon.png'; // Default blue icon for odd postnummer
      }
  }

  function initMap() {
      var initialView = {{ config.initialView|tojson }};
      var map = L.map('map').setView(initialView.center, initialView.zoom);
      
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);
      
      var markers = {{ markers|tojson }};
      
      markers.forEach(function(marker) {
          var latlng = [marker.representasjonspunkt.lat, marker.representasjonspunkt.lon];
          
          var popupContent =  "Adresse: " + marker.adressetekst + "<br>" + 
                    "Poststed: " + marker.poststed + "<br>" + 
                    "Postnummer: " + marker.postnummer + 
                    '<p><a href="/cabin_bonde?adresse=' + encodeURIComponent(marker.adressetekst) + 
                    '&poststed=' + encodeURIComponent(marker.poststed) + 
                    '&postnummer=' + encodeURIComponent(marker.postnummer) + '">Brøytet ferdig</a>';

          
          // var popupContent =  "Adresse: " + marker.adressetekst + "<br>" + 
          //                     "Poststed: " + marker.poststed + "<br>" + 
          //                     "Postnummer: " + marker.postnummer + 
          //                     '<p><a href={{ url_for('dashboard.dashboard') }}'+'>Bestill</a>';
       
          var iconUrl = getIconUrl(marker.nummer);
          var customIcon = new L.Icon({
              iconUrl: iconUrl,
              shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
              iconSize: [25, 41],
              iconAnchor: [12, 41],
              popupAnchor: [1, -34],
              shadowSize: [41, 41]
          });

          L.marker(latlng, {icon: customIcon}).addTo(map).bindPopup(popupContent);
      });
  }
  
  document.addEventListener("DOMContentLoaded", function() {
      initMap();
  });
</script>
{% endblock %}