{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#active">Aktive Ordre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#history">Historie</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div id="myTabContent" class="tab-content">

  <!-- Active orders -->
  <div class="tab-pane fade show active" id="active">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="mt-3">Aktive ordre</h2>
          {% for type, message in get_flashed_messages(with_categories=true) %}
          <div class="alert {% if type == 'success' %}alert-success{% elif type == 'danger' %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          <div class="">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="d-none d-md-table-cell">#</th>
                  <th>Ankomst</th>
                  <th>Avreise</th>
                  <th>Vis ordre</th>
                </tr>
              </thead>
              <tbody>
                {% set count = namespace(value=(page-1)*10+1) %}
                {% for order in active_orders_per_page %}
                <tr>
                  <td class="d-none d-md-table-cell">{{ count.value }}</td>
                  <td>{{ order.ankomst }}</td>
                  <td>{{ order.avreise }}</td>
                  <!-- <td class="d-none d-md-table-cell">{{ order.melding }}</td> -->
                  <td>
                    <!-- Show Order Button -->
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#orderModal{{ order.id }}">
                      Vis ordre
                    </button>

                    <!-- Modal -->
                    <div class="modal fade mt-5" id="orderModal{{ order.id }}" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel{{ order.id }}" aria-hidden="true">
                      <div class="modal-dialog mt-5" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="orderModalLabel{{ order.id }}">Bestilling detaljer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p><strong>Ankomst:</strong> {{ order.ankomst }}</p>
                            <p><strong>Avreise:</strong> {{ order.avreise }}</p>
                            <p class="text-wrap" style="word-wrap: break-word;"><strong>Melding:</strong> {{ order.melding }}</p>
                          </div>
                          <div class="modal-footer">
                            <form method="post" action="{{ url_for('orders.delete_order', order_id=order.id) }}" onsubmit="return confirm('Er du sikker du vil slette denne bestillingen?')">
                              <input type="hidden" name="_method" value="DELETE">
                              <button type="submit" class="btn btn-outline-danger">Slett bestilling</button>
                            </form>
                            <form method="post" action="{{ url_for('orders.update_order', order_id=order.id) }}" onsubmit="return confirm('Er du sikker du vil markere ordre som fullført?')">
                              <input type="hidden" name="_method" value="DELETE">
                              <button type="submit" class="btn btn-outline-secondary">Oppdater</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <!-- {% set count.value = count.value + 1 %} -->
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- History of order -->
  <div class="tab-pane fade" id="history">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="mt-3">Historie</h2>
          {% for type, message in get_flashed_messages(with_categories=true) %}
          <div class="alert {% if type == 'success' %}alert-success{% elif type == 'danger' %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          <div class="">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="d-none d-md-table-cell">#</th>
                  <th>Ankomst</th>
                  <th>Avreise</th>
                  <th>Vis ordre</th>
                </tr>
              </thead>
              <tbody>
                {% set count = namespace(value=(page-1)*10+1) %}
                {% for order in history_orders_per_page %}
                <tr>
                  <td class="d-none d-md-table-cell">{{ count.value }}</td>
                  <td>{{ order.ankomst }}</td>
                  <td>{{ order.avreise }}</td>
                  <!-- <td class="d-none d-md-table-cell">{{ order.melding }}</td> -->
                  <td>
                    <!-- Show Order Button -->
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#orderModal{{ order.id }}">
                      Vis ordre
                    </button>

                    <!-- Modal -->
                    <div class="modal fade mt-5" id="orderModal{{ order.id }}" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel{{ order.id }}" aria-hidden="true">
                      <div class="modal-dialog mt-5" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="orderModalLabel{{ order.id }}">Bestilling detaljer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p><strong>Ankomst:</strong> {{ order.ankomst }}</p>
                            <p><strong>Avreise:</strong> {{ order.avreise }}</p>
                            <p class="text-wrap" style="word-wrap: break-word;"><strong>Melding:</strong> {{ order.melding }}</p>
                          </div>
                          <div class="modal-footer">
                            <form method="post" action="{{ url_for('orders.delete_order', order_id=order.id) }}" onsubmit="return confirm('Er du sikker du vil slette denne bestillingen?')">
                              <input type="hidden" name="_method" value="DELETE">
                              <button type="submit" class="btn btn-outline-danger">Slett bestilling</button>
                            </form>
                            <form method="post" action="{{ url_for('orders.update_order', order_id=order.id) }}" onsubmit="return confirm('Er du sikker du vil markere ordre som fullført?')">
                              <input type="hidden" name="_method" value="DELETE">
                              <button type="submit" class="btn btn-outline-secondary">Oppdater</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <!-- {% set count.value = count.value + 1 %} -->
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Page navigation -->
<nav aria-label="Page navigation example" class="fixed-bottom">
  <ul class="pagination justify-content-center">
    {% if page > 1 %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for('orders.orders', page=page-1) }}">Previous</a>
    </li>
    {% endif %}
    {% for p in range(1, total_pages + 1) %}
    <li class="page-item {% if p == page %}active{% endif %}">
      <a class="page-link" href="{{ url_for('orders.orders', page=p) }}">{{ p }}</a>
    </li>
    {% endfor %}
    {% if page < total_pages %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for('orders.orders', page=page+1) }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>




<!-- Code for tabs: DONT REMOVE -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
 

<script>
  $(document).ready(function(){
    $('.nav-tabs a').click(function(){
      $(this).tab('show');
    });
  });
</script>


{% endblock %}
