{% extends 'base.html' %}

{% block content %}




{% if FORM %}
<div class="container">

      <h1> {{ adresse }}</h1>

    
      {{ poststed }} {{ postnummer }}

    
    <!-- Calendar Form  w text container -->
    <!-- <div class="container"> -->
      <form class="     " method="POST" action="/cabin_bonde">
        <div class="form-group">
          <label for="skrivMelding">Skriv melding</label>
          <textarea name="melding" class="form-control" id="skrivMelding" rows="3" ></textarea>
        </div>

        <button type="submit" class="btn btn-outline-primary">Brøytet ferdig</button>
      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}