{% extends 'base.html' %}

{% block content %}
<div class="container">


  <div class="container">
    <h1 class="text-center mt-5">Legg til adresse</h1>
    <p class="text-center mt-2 mb-5">Her legger du inn hytte adressen din også kan du se den på kartet</p>
  </div>

  {% for type, message in get_flashed_messages(with_categories=true) %}
  <div class="alert {% if type == 'success' %}alert-success{% elif type == 'danger' %}alert-danger{% elif type == 'warning' %}alert-warning{% endif %} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
  <form method="POST" action="{{ url_for('sok_adresse.search_address') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.query.label(for="address-input") }}
      {{ form.query(class="form-control", id="address-input") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>

  <div id="search-results" class="mt-3">
    {% if addresses %}
    <ul class="list-group">
      {% for address in addresses %}
      <li class="list-group-item">
        <a href="{{ url_for('sok_adresse.process_address', address_data=address) }}" class="address-link">{{ address.adressetekst }}, {{ address.postnummer }}, {{ address.poststed }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

{% endblock %}
