{% extends 'base.html' %}

{% block content %}
<style>
  .searchResults {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; /* Change the background color as needed */
    z-index: 999; /* Set a higher z-index to ensure it appears above other elements */
  }
</style>
<div class="container">

  <div class="container">
    <h1 class="text-center mt-5">Legg til adresse</h1>
    <p class="text-center ">Her legger du inn hytte adressen din også kan du se den på kartet</p>
    <p class="text-center ">Velg adressen din blant resultatene som kommer</p>
    <p class="text-center mt-2 mb-5">Eksempel: Slottsplassen 1</p>
  </div>

  {% for type, message in get_flashed_messages(with_categories=true) %}
  <div class="alert {% if type == 'success' %}alert-success{% elif type == 'danger' %}alert-danger{% elif type == 'warning' %}alert-warning{% endif %} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
  <form method="POST" action="{{ url_for('sok_adresse.search_address') }}" id="search-form">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.query.label(for="address-input") }}
      {{ form.query(class="form-control", id="address-input") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>

  <div class="searchResults mt-3"></div> 
</div>

<div class="container">
  <h2>Test text lalala</h2>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
    $('#address-input').on('input', function() {
        var query = $(this).val();
        $.ajax({
            type: 'POST',
            url: '/search', // Route to handle the AJAX request
            data: {'query': query},
            success: function(response) {
                var inputOffset = $('#address-input').offset();
                $('.searchResults').html(response).css({
                    'top': inputOffset.top + $('#address-input').outerHeight(),
                    'left': inputOffset.left,
                    'width': $('#address-input').outerWidth()
                }).show(); // Update the search results div and position it relative to the input field
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
</script>

{% endblock %}
